body {
	margin: 0;
	padding: 0;
	background: #EAFFEB;
	background: center/cover url('../static/imgs/background.jpg');
	background-repeat: no-repeat;
  	background-attachment: fixed;
}

@font-face { 
	font-family: "Gilroy bold";
	src: url('fonts/Gilroy-Bold.ttf'); 
}
@font-face { 
	font-family: "Gilroy medium";
	src: url('fonts/Gilroy-Medium.ttf'); 
}
@font-face { 
	font-family: "Gilroy regular";
	src: url('fonts/Gilroy-Regular.ttf'); 
}
@font-face { 
	font-family: "Gilroy semibold";
	src: url('fonts/Gilroy-Semibold.ttf'); 
}

.header {
	position: fixed;
	background: white;
	height: 50px;
	width: 100%;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 0 1%;
	z-index: 10;
}

.header__logo, .header__side {
	height: 80%;
	width: 15%;
}

.header__logo {
	display: flex;
	align-items: center;
	font-display: row;
	justify-content: flex-start;
}

.header__logo img {
	height: 100%;
	max-width: 100%;
}

.header__navigation {
	width: 70%;
	display: flex;
	font-display: row;
	justify-content: space-between;
}

.header__link {
	height: 34px;
	width: 170px;
	border-radius: 10px;
	text-decoration: none;
	font-family: "Gilroy regular";
	font-size: 18px;
	color: #6D6D6D;
	background-color: none;
	text-align: center;
	line-height: 34px;
	vertical-align: middle;
	cursor: pointer;
	transition: 0.2s;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.header__link:hover {
	background-color: #F4F4F4;
}

.header__link:active {
	background-color: #E3E3E3;
}

.header__link.active{
	color: #008A0C;
	background-color: #EAFFEB;
}

.header__link.active:hover {
	background-color: #DFF2E0;
}

.header__link.active:active {
	background-color: #D3E6D4;
}

.content {
	position: relative;
	top: 66px;
	width: 70%;
	margin: 0 auto;
}

.serviceBlock {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	background-color: white;
	min-height: 520px;
	border-radius: 30px;
	border: 1px solid #CBCBCB;
	margin-bottom: 24px;
	box-sizing: border-box;
	padding: 20px;
	transition: 0.3s all;
}

.leftLines {
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.leftLines::after {
	content: '';
	display: block;
	position: absolute;
	width: 300px;
	height: 4px;
	border-top: 20px solid #EAFFEB;
	border-bottom: 12px solid #FFEFE6;
	bottom: 0;
	left: -80px;
	transform: rotate(45deg);
	z-index: -1;
}

.rightLines {
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.rightLines::after {
	content: '';
	display: block;
	position: absolute;
	width: 300px;
	height: 4px;
	border-top: 20px solid #EAFFEB;
	border-bottom: 12px solid #FFEFE6;
	bottom: 0;
	right: -80px;
	transform: rotate(-45deg);
	z-index: -1;
}

.serviceBlock__title {
	font-family: "Gilroy medium";
	font-size: 36px;
	color: #4A4A4A;
	margin-bottom: 6px;
}

.serviceBlock__imagesContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
	overflow: auto;
	margin-bottom: 48px;
}


.serviceBlock__imageContainer{
	display: inline-block;
	background-color: #EAFFEB;
	height: 360px;
	border-radius: 18px;
	overflow: hidden;
	object-fit: cover;
	flex-shrink: 0;
}

.serviceBlock__imageContainer img {
	object-fit: cover;
	max-width: 100%;
	height: 100%;
}

.serviceBlock__text {
	display: none;
	color: #777777;
	font-size: 18px;
	font-family: "Gilroy medium";
	height: 100%;
	box-sizing: border-box;
	padding-bottom: 40px;
}

.serviceBlock__cross {
	display: none;
	background: none;
	border: none;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #E8E8E8;
	color: #ACACAC;
	font-family: "Gilroy semibold";
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}

.serviceBlock__cross .icon-cross {
	position: relative;
	bottom: -2px;
	right: 0px;
}

.serviceBlock__button {
	position: absolute;
	bottom: 20px;
	right: 20px;
	border: none;
	background: none;
	text-align: center;
	height: 36px;
	width: 150px;
	border-radius: 8px;
	background-color: #EAFFEB;
	color: #008A0C;
	font-family: "Gilroy medium";
	font-size: 16px;
	cursor: pointer;
}

.serviceBlock__button:hover {
	background-color: #DFF2E0;
}

.serviceBlock__button:active {
	background-color: #D3E6D4;
}

.serviceBlock__cross:hover {
	background-color: #E0E0E0;
}

.serviceBlock__cross:active {
	background-color: #D6D6D6;
}



.serviceBlock__button .icon-arrowRigth {
	position: relative;
	margin-left: 5px;
	bottom: -2px;
}

.serviceBlock.active .serviceBlock__imagesContainer {
	display: none;

}

.serviceBlock.active .serviceBlock__text {
	display: block;
}

.serviceBlock.active .serviceBlock__cross {
	display: inline-block;

}

.deliveryBlock {
	background-color: white;
	border-radius: 30px;
	border: 1px #CBCBCB solid;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.deliveryBlock__imageContainer {
	width: 100%;
	height: 375px;
	border-radius: 10px;
	background-color: #EAFFEB;
	border: 1px #CBCBCB solid;
	overflow: auto;
	scroll-top: 50%;
}

.deliveryBlock__imageContainer img {
	max-width: 100%;
	width: 100%;
	min-height: 100%;
	object-fit: cover;
}

.deliveryBlock__title {
	font-family: "Gilroy medium";
	font-size: 20px;
	margin-bottom: 10px;
	color: #4A4A4A;
}

.deliveryBlock__priceList {
	display: flex;
	flex-direction: column;
}

.deliveryBlock__price {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	padding-top: 6px;
	font-family: "Gilroy regular";
	font-size: 20px;
	color: #777777;
}

.deliveryBlock__price::before {
	content: '';
	position: relative;
	bottom: 0.1em;
	display: inline-block;
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	border-radius: 50%;
	margin-right: 10px;
}

.deliveryBlock__price.priceRed::before {
	background-color: #FDAEAB;
	border: 1px solid #D00000;
}

.deliveryBlock__price.priceYellow::before {
	background-color: #FFDFAC;
	border: 1px solid #FF9D0B;
}

.deliveryBlock__price.priceGreen::before {
	background-color: #9EEE94;
	border: 1px solid #44DE27;
}

.contactsBlock {
	width: 100%;
	max-width: 1100px;
	background-color: white;
	margin: 0 auto;
	border-radius: 30px;
	border: 1px solid #CBCBCB;
	padding: 1.5vw;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.contactsBlock__title {
	font-family: "Gilroy semibold";
	color: #4A4A4A;
	font-size: 36px;
	text-align: center;
}

.contactsBlock__text {
	font-family: "Gilroy medium";
	font-size: 22px;	
	color: #777777;
	text-align: center;
	width: 60%;
	margin: 0 auto;
	margin-top: 10px;
}

.contactsBlock__text a {
	color: #008A0C;
	text-decoration: none;
}

.fullWidth {
 	width: 100%;
}

.contactsBlock__number {
	margin-top: 10px;
	text-align: center;
}

.contactsBlock__number a {
	font-family: "Gilroy bold";
	font-size: 36px;
	color: #008A0C;
	text-decoration: none !important;
}

.contactsBlock__imageSet {
	margin: 0 auto;
	width: 160px;
	display: flex;
	flex-direction: column;
}

.contactsBlock__image {
	font-family: "Gilroy medium";
	height: 34px;
	margin: 5px 10px;
	display: flex;
	align-items: center;
	color: black;
	text-decoration: none;
}

.contactsBlock__image img {
	height: 100%;
	margin-right: 10px;
}

.technicBlock {
	background-color: white;
	margin: 0 auto;
	border-radius: 30px;
	border: 1px solid #CBCBCB;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	max-width: 1100px;
	margin-bottom: 24px;
}

.technicBlock__title {
	color: #4A4A4A;
	font-family: "Gilroy medium";
	font-size: 36px;
}


.technicBlock__content {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
}

.technicBlock__imageHolder {
	border-radius: 10px;
	width: 250px;
	height: 250px;
	overflow: hidden;
	flex-shrink: 0;
	background-color: #EAFFEB;
	margin-right: 20px;
}

.technicBlock__imageHolder img {
	height: 100%;
	max-width: 100%;
	object-fit: cover;
}

.technicBlock__text {
	color: #777777;
	font-family: "Gilroy medium";
	font-size: 20px;
	height: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
	/*display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;*/
}

.workBlock {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	background-color: white;
	border: 1px solid #CBCBCB;
	border-radius: 30px;
	min-height: 200px;
	box-sizing: border-box;
	padding: 20px;
	margin-bottom: 24px;
}

.workBlock__title {
	color: #3E3E3E;
	font-size: 36px;
	font-family: "Gilroy medium";
}

.workBlock__images {
	display: flex;
	flex-direction: row;
	width: 100%;
	overflow: auto;
}

.workBlock__imageHolder {
	height: 400px;
	border-radius: 10px;
	overflow: hidden;
	/*min-width: 400px;*/
	max-width: 49%;
	flex-shrink: 0;
	position: relative;
	margin: 10px 0;
}

.workBlock__imageHolder img {
	height: 100%;
	max-width: 100%;
	object-fit: cover;
}

.workBlock__imageSubtitle {
	width: 100%;
	height: 80px;
	position: absolute;
	bottom: 0;
	box-sizing: border-box;
	padding: 12px;
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
	color: white;
	font-family: "Gilroy medium";
	font-size: 20px;
	display: flex;
	align-items: flex-end;
}

.workBlock__subtitle {
	color: #777777;
	width: 100%;
	font-family: "Gilroy medium";
	font-size: 20px;
	margin-bottom: 20px;
}

.workSpace__feed {
}

.workBlock__feedTitle {
	color: #CBCBCB;
	text-align: center;
	font-size: 18px;
	font-family: "Gilroy medium";
}
.workBlock__line {
	border-style: dashed;
	border-color: #CBCBCB;
	border-width: 0.5px;
	margin: 6px 0;
}
.workBlock__feedInfoBlock {
	display: flex;
	justify-content: space-between;
	margin: 12px 0;
}
.workBlock__feedInfo {
	display: flex;
}

.workBlock__feedInfo img {
	height: 40px;
	width: 40px;
}

.workBlock__feedName {
	font-size: 24px;
	color: black;
	display: flex;
	align-items: center;
	font-family: "Gilroy semibold";
	margin: 0 10px;
}
.workBlock__feedStars {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80px;
}
.workBlock__feedStar {
	width: 14px;
	height: 14px;
	background-color: red;
	background: url("imgs/star.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

.workBlock__feedStar.empty {
	background: url("imgs/starEmpty.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

.workBlock__feedDate {
	display: flex;
	align-items: center;
	font-size: 12px;
	color: #CBCBCB;
	font-family: "Gilroy medium";
}
.workBlock__feedText {
	color: #777777;
	font-size: 18px;
	font-family: "Gilroy regular";
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;

}

.workBlock__feedButtonHolder {
	display: flex;
	justify-content: flex-end;
}

.workBlock__feedButtonHolder button {
	border: none;
	background: none;
	color: #008A0C;
	font-size: 18px;
	font-family: "Gilroy medium";
	cursor: pointer;
}

.workBlock.active .workBlock__feedText {
	-webkit-line-clamp: initial;
}

.scrollButton {
	border: none;
	background: none;
	position: fixed;
	bottom: -10%;
	right: 5%;
	width: 40px;
	height: 40px;
	background-color: white;
	border-radius: 50%;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	transition: 0.3s;
	color: #008A0C;
	z-index: 5;
}

.scrollButton:hover {
	background-color: #F4F4F4;
}

.scrollButton:active {
	background-color: #E3E3E3;
}

.scrollButton.active {
	bottom: 10%;
}


@media screen and (max-width : 865px) {
	body {
		background: #FFFCF8;
	}

	.header {
		flex-direction: column;
		height: initial;
		padding: 0;
	}

	.header__logo {
		height: 40px;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.header__navigation {
		width: 100%;
		background-color: gray;
	}

	.header__link {
		width: 20%;
		border-radius: 0;
		background-color: #F4F4F4;
		font-size: 15px;
	}

	.content {
		width: 100%;
		top: 86px;
	}

	.serviceBlock {
		border-radius: 0;
		padding: 20px 0;
		border: none;
		box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	}

	.serviceBlock__title {
		font-size: 28px;
		box-sizing: border-box;
		padding: 0 60px 0 20px;
	}

	.serviceBlock__imagesContainer {
		margin-bottom: 60px;
	}

	.serviceBlock__imageContainer {
		border-radius: 0;
	}

	.serviceBlock__imageContainer img {
		max-width: 100vw;
	}

	.serviceBlock__text {
		padding: 0 20px;
		margin-bottom: 40px;
	}

	.technicBlock {
		border-radius: 0;
		border: none;
		box-shadow: 0 3px 10px rgba(0,0,0,0.1);
		height: initial;
	}

	.technicBlock__title {
		font-size: 28px;
	}

	.technicBlock__content {
		flex-direction: column;
	}

	.technicBlock__imageHolder {
		margin: 0 auto;
		width: 90vw;
		height: 90vw;
	}

	.technicBlock__text {
		margin-top: 20px;
		height: initial;
	}

	.deliveryBlock {
		padding: 20px 0;
		border-radius: 0;
		border: none;
		height: initial;
		box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	}

	.deliveryBlock__title {
		font-size: 28px;
	}

	.deliveryBlock__imageContainer {
		border-radius: 0;
		margin-bottom: 20px;
	}

	.deliveryBlock__info {
		padding: 0 20px;
		box-sizing: border-box;
	}

	.contactsBlock {
		border-radius: 0;
		border: none;
		box-shadow: 0 3px 10px rgba(0,0,0,0.1);
		height: initial;
	}

	.fullWidth {
		width: 100%;
	}

	.contactsBlock__text {
		width: 80%;
		font-size: 17px;
	}

	.contactsBlock__info {
		margin-bottom: 20px;
	}

	.workBlock {
		border-radius: 0;
		border: none;
		box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	}

	.workBlock__images {
		overflow: initial;
	}

	.workBlock__imageHolder {
		height: 45vh;
	}
}